.section-wrapper {
    background-color: var(--color-darkest);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
    margin-top: var(--margin-primary);
}



.most-popular-items {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.card-wrapper {
    background-color: var(--color-dark);
    border-radius: calc(var(--border-radius-primary) / 2);
    padding: calc(var(--padding-primary) / 2);
    margin: calc(var(--margin-primary) / 5);

}

